<!DOCTYPE html>
<html>
  <head>
    <title><!-- TMPL_VAR title --></title>
    <link href="<!-- TMPL_VAR icon -->" rel="shortcut icon" type="image/x-icon"/>

    <!-- CSS Files -->
    <!-- TMPL_LOOP css-include -->
    <link href="<!-- TMPL_VAR url -->" rel="stylesheet">
    <!-- /TMPL_LOOP -->

    <!-- JavaScript Libraries -->
    <!-- TMPL_LOOP react-js -->
    <script src="<!--TMPL_VAR url -->"></script>
    <!-- /TMPL_LOOP -->
    
    <!-- TMPL_LOOP js-include -->
    <script type="text/jsx" src="<!--TMPL_VAR url -->"></script>
    <!-- /TMPL_LOOP -->
    
    <style type="text/css"><!-- TMPL_VAR inline-css --></style>
  </head>
  <body>
    <div id="content">
    </div>
    <!-- Compiled Javascript -->
    <script type="text/jsx" src="<!--TMPL_VAR js -->"></script>
  </body>
</html>
